body {
  font-style: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

/* site nav */
.heading-site-actions {
  display: flex;
  align-items: center;
}

.sitenav-list {
  display: flex;
  list-style: none;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15.23px;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.main-link {
  font-size: 13px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffffff;
  background: #ff7500;
  text-decoration: none;
}

/* site hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252420;
  color: #ffffff;
}
.hero-content {
  width: 387px;
  height: 328px;
  top: 177px;
  left: 170px;
  gap: 16px;
  opacity: 0px;
}

.img-hero {
  width: 510px;
  height: 510px;
  object-fit: contain;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-align: left;
}

.hero-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
/* site features */
.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.features-heading {
  width: 435px;
  height: 172px;
  top: 821px;
  left: 170px;
  gap: 0px;
  opacity: 0px;
  font-size: 72px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 86.4px;
  letter-spacing: 0.5px;
  text-align: left;
}
.feature {
  width: Fixed (340px) px;
  height: Hug (245px) px;
  gap: 32px;
  opacity: 0px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background: #ff750033;
}

.feature-titile {
  width: 214px;
  height: 29px;
  gap: 0px;
  opacity: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.5px;
  text-align: left;
}

.feature-info {
  width: 314px;
  height: 72px;
  gap: 0px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

/* site promo */
.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #252420;
  color: #ffffff;
}
.promo-content {
  width: 440px;
  height: 291px;
  top: 1704px;
  left: 234px;
  gap: 0px;
  opacity: 0px;
}

.promo-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
}

.promo-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

/* sire footer */
.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
}

.site-footer {
  background: #f8f8f8;
}
.site-footer ul {
  list-style: none;
}

.site-footer-divider {
  background: #25242080;
  height: 2px;
}

.site-footer-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.site-footer-link-list {
  width: 224px;
}

.site-footer-link-list a {
  text-decoration: none;
  color: #252420;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
}
